<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Invoice Generator</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="invoice"
            >Invoice</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="invoiceFormat"
            >Print Invoice</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="businessList">Business List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="clientList">Client List</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item float-end">
          <a class="nav-link navbar-brand active" routerLink="login">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-brand active" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
